 
 
 .collage-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    width: 100%;
    padding: 10px;
}

.square-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
}
 
.vertical-photo {
    grid-column: span 2;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.vertical-photo-last {
    grid-column: 1 / span 3;
    width: 100%;
    height: auto;
    object-fit: cover;
}

 
 .title{
    font-family: Playfair Display, sans-serif; 
    text-align: center;
     font-size: 35px;
      font-weight: bolder;
       margin-top:200px;

 }
@media (max-width: 375px) {
    
}
@media screen and (max-width:500px)
{
.title{
    
    font-size: 20px;

} 
.title2{
    font-size: 5px;

}
}